@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 88%; /* білий 	#e0e0e0*/
    --foreground: 0 0% 3.9%; /*чорний 	#0a0a0a*/

    --card: 0 0% 100%; /*білий*/
    --card-foreground: 236 84% 71%; /*синій #777ff3*/
 
    --popover: 0 0% 100%; /*білий*/
    --popover-foreground: 222.2 84% 4.9%; /*синій #777ff3*/
 
    --primary: 222.2 47.4% 11.2%; /*темносиній #0f1729*/
    --primary-foreground: 210 40% 98%; /*світло голубий - білий#f8fafc*/
 
    --secondary: 210 40% 96.1%; /*світло голубий - білий*/
    --secondary-foreground: 222.2 47.4% 11.2%; /*темносиній*/
 
    --muted: 210 40% 96.1%; /*світлоголубий*/
    --muted-foreground: 215.4 16.3% 46.9%; /*синьо сірий*/
 
    --accent: 210 40% 96.1%; /*світлоголубий*/
    --accent-foreground: 222.2 47.4% 11.2%; /*темносиній*/
 
    --destructive: 0 84.2% 60.2%; /*червоний*/
    --destructive-foreground: 210 40% 98%; /*майже білий голубий*/

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 13% 18%;
    --foreground: 0 0% 100%;
 
    --card: 226.7 12.7% 13.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 226.7 12.7% 13.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 226.7 12.7% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 226.7 12.7% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 226.7 12.7% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 226.7 12.7% 17.5%;
    --input: 226.7 12.7% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}